@mixin tooltip($position: right, $offset: 15px) {
  position: relative;
  display: inline-block;
  
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--tooltips);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;

    @if $position == right {  
        top: 50%;
        left: 105%;
        transform: translateY(-50%);
        margin-left: $offset;    
  
        &::after {
          content: " ";
          position: absolute;
          border-width: 5px;
          border-style: solid;
          border-color: transparent var(--tooltips) transparent transparent;
      
          top: 50%;
          right: 100%;
          transform: translateY(-50%);
          border-color: transparent var(--tooltips) transparent transparent;
      }
    } @else if $position == bottom {
        top: 150%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: $offset;
  
        &::after {
          content: " ";
          position: absolute;
          border-width: 5px;
          border-style: solid;
          border-color: transparent var(--tooltips) transparent transparent;
      
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          border-color: var(--tooltips) transparent transparent transparent;
        }
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
    font-size: 0.75em;
    opacity: 1;
  }
}
