:root {
    --breakpoint-xxs: 320px;
    --breakpoint-xs: 480px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;
    --breakpoint-uhd: 1920px;
    --breakpoint-uhd-plus: 2560px;
}