@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    --font-optical-sizing: auto;
    --font-weight: 100;
    --font-style: normal;
    --line-height: 1.5;
    --font-size: 14px;
}