.list {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

}

@media screen and (max-width: 1000px) {
  .list {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
