.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    border-radius: .2rem;

    padding: 6rem 8rem;

    color: var(--light);

    .heading {
        color: var(--pr);
    }
    .btn {
      color: var(--primary);
      padding: 1rem;
      background-color: var(--dark);

      &:hover {
      }
    }
}