@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('primeicons/primeicons.css');

:root {
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --breakpoint-uhd: 1920px;
  --breakpoint-uhd-plus: 2560px;
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  line-height: 1.5;
  font-size: 14px;

  --light: rgba(196, 193, 206, 0.76);
  --dark: rgb(59, 59, 59);
  --tooltips: rgba(39, 39, 39, 0.9);
  --link: rgba(190, 110, 68, 1);
  --primary: rgb(66, 185, 131);

  --border-radius: 3px;
  --shadow: -1px 2px 2px rgba(66, 185, 131, .2);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: var(--light)
}

body {
  background: var(--dark);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  text-align: center;
  width: 100vw;

  @media screens and (max-width: 480px) {
    max-width: 480px;
    padding: 0;
    margin: 0;
  }

}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: none;
  font-size: 1.2em;

  &:hover {
    color: var(--light);
  }  

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}    

.heading {
  color: var(--primary);
  font-weight: 400;
  padding: 2rem;
}

button, .btn {
  display: inline-block;
  padding: 8px 12px;
  border: 0;
  border-radius: 8px;
  transition: border-color 0.25s;
  background: var(--secondary);
  cursor: pointer;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;

  &:hover {
      background: var(--dark);
      color: white;
  }
  &:disabled {
    opacity: 0.5;
    color: var(--dark);
    margin-top: 1rem;
    background: var(--tooltips);
    cursor: not-allowed;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@mixin tooltip($position: right, $offset: 15px) {
  position: relative;
  display: inline-block;
  
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--tooltips);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;

    @if $position == right {  
        top: 50%;
        left: 105%;
        transform: translateY(-50%);
        margin-left: $offset;    
  
        &::after {
          content: " ";
          position: absolute;
          border-width: 5px;
          border-style: solid;
          border-color: transparent var(--tooltips) transparent transparent;
      
          top: 50%;
          right: 100%;
          transform: translateY(-50%);
          border-color: transparent var(--tooltips) transparent transparent;
      }
    } @else if $position == bottom {
        top: 150%;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: $offset;
  
        &::after {
          content: " ";
          position: absolute;
          border-width: 5px;
          border-style: solid;
          border-color: transparent var(--tooltips) transparent transparent;
      
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          border-color: var(--tooltips) transparent transparent transparent;
        }
    }
  }

  &:hover .tooltiptext {
    visibility: visible;
    font-size: 0.75em;
    opacity: 1;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--tooltips);
    background-color: var(--light);

    button {
      background-color: var(--dark);
    }
  }
}
